// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.login__card {
  margin-top: 5em;
  border: 1px solid #cfcfcf;
  padding: 5em;
  margin: 0 auto;
  width: 50%;
}

.container {
  padding: 3em;
}

body {
  padding: 0;
}

.user__walet {
  font-size: 12px;
}

.user__goals--nav {
  border-top: 1px solid #cfcfcf;
  margin-top: 1em;
  padding-top: 1em;
  list-style: none;
  margin: 0;
}

.user__goal {
  cursor:pointer;
  &:hover {
    background: #cfcfcf;
  }
}

.user__goals {
  margin-bottom: 2em;
}

.wallet__info {
  overflow: hidden;
  margin-top: 5em;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}