<div class="login__card">
  <h1>Welcome to BitGoals</h1>
  <p>Bet against yourself and achieve greatness</p>
  <nav ng-show="!showRegOrLogin">
    <span href="#" class="button" ng-click="showCreateAccount=true; showRegOrLogin=true">Register</span>
    <!-- <span href="#" class="button"ng-click="showLogin=true; showRegOrLogin=true">Login</span> -->
  </nav>
  <section ng-show="showCreateAccount">
    <form ng-submit="generate_account()">
      <div class="row">
        <div class="large-12">
          <label>Password
            <input ng-model="main_wallet_password" type="password" placeholder="DON'T LOOSE THIS!" />
          </label>
          <button class="button">Submit</button>
        </div>
      </div>
    </form>
  </section>

  <section ng-show="showRegister">
    <form ng-submit="create_user()">
      <div class="row">
        <div class="large-12">
          <label>Email
            <input ng-model="account_email" type="email" placeholder="Email" />
          </label>
          <label>Password
            <input ng-model="account_password" type="password" placeholder="Password" />
          </label>
          <label>Account
            <input ng-model="account_wallet_address" type="text" placeholder="Account" />
          </label>
          <button class="button">Submit</button>
        </div>
      </div>
    </form>
    <!-- <button ng-click="deploy_contract()" class="button">Deploy</button>
    <button ng-click="send_money()" class="button">Send Money</button> -->
  </section>

  <section ng-show="showLogin">
    <form>
      <div class="row">
        <div class="large-12">
          <label>Email
            <input type="email" placeholder="Email" />
          </label>
          <label>Password
            <input type="password" placeholder="Password" />
          </label>
          <label>Address
            <input type="text" placeholder="Address" />
          </label>
          <button class="button">Submit</button>
        </div>
      </div>
    </form> 
  </section>
</div>
